
body{
  background-color:rgb(10, 26, 39);
  color:rgb(235, 235, 235);
  font-family: 'Montserrat', sans-serif;
  margin:0px;
  /**margin:75px 15px 75px 15px;**/
}

p, h1, h4 {
  margin: 0px;
}

p, h4{
  color:rgb(184, 188, 202);
}

.debug-border * {
  border: 1px;
  border-style: solid;
}

.profile-image{
  width: 145px;
  padding:8px;
  border-radius: 100%;
  margin-right: 0px;
  animation: smoothfadein 1.25s both;
  animation-timing-function: cubic-bezier(.28,.55,.39,1);
}

.profile-image-background{
  background-color: rgb(19, 43, 63);
  border-radius: 100%;
  animation: smoothexpand 1.25s both;
  animation-timing-function: cubic-bezier(.28,.55,.39,1);
  position: absolute;
  width: 161px;
  height: 161px;
  animation-delay: 0.45s;
}

@media screen and (max-width: 600px) {
  .profile-image {
    margin-right: 0px;
  }
}

.profile-text{
  margin-top: 0px;
  margin-left: 35.5px;
}

@media screen and (max-width: 600px) {
  .profile-text {
    margin-top: 50px;
    margin-left: 0px;
  }
}

.profile-text-1{
  animation: smoothfadein 1.25s both;
  animation-timing-function: cubic-bezier(.28,.55,.39,1);
  animation-delay: 0.1s;
}

.profile-text-2{
  animation: smoothfadein 1.25s both;
  animation-timing-function: cubic-bezier(.28,.55,.39,1);
  animation-delay: 0.18s;
}

.profile-text-3{
  animation: smoothfadein 1.25s both;
  animation-timing-function: cubic-bezier(.28,.55,.39,1);
  animation-delay: 0.25s;
}

.div-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.line-animation{
  margin-left: 0px;
  margin-top: -160px;
  height:195px;
  width: 100%;
  position: absolute;
  transform-origin: 0%;
}

@media screen and (max-width: 600px) {
  .line-animation {
    margin-left:0%;
    margin-top: 95px;
    height: 2px;
    width: 100%;
    position: absolute;
    transform-origin: 0%;
  }
}

.line-animation-1{
  background-color: rgb(90, 47, 245);
  z-index: -3;
  animation: smoothexpand 1.25s both;
}

@media screen and (max-width: 600px) {
  .line-animation-1 {
    background-color: rgb(90, 47, 245);
    z-index: -3;
    animation: smoothexpand 0.25s both;
  }
}

.line-animation-2{
  background-color: rgb(14, 36, 54);
  z-index: -2;
  animation: smoothexpand2 1.25s both;
  animation-delay: 0.35s;
}

@media screen and (max-width: 600px) {
  .line-animation-2 {
    background-color: rgb(14, 36, 54);
    z-index: -2;
    animation: smoothexpand2 1.25s both;
    animation-delay: 0.35s;
  }
}

@media screen and (max-width: 600px) {
  .div-container {
    flex-direction: column;
  }
}

/**Animation**/
@keyframes smoothfadein{
  from{transform:translate(0px,20px);opacity: 0;}
  to{transform:translate(0px,0px);opacity:1;}
}

@keyframes smoothexpand{
  from{transform:scale(0,1);}
  to{transform:scale(1,1);}
}

@keyframes smoothexpand2{
  from{transform:scale(0,1);}
  to{transform:scale(1,1);}
}

.portfolio-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-container > div{
  width: 100%;
  max-width: 1280px;
  padding: 25px;
}

.portfolio-container > div > h4{ 
  margin-bottom: 25px;
}

.portfolio-container > div > div > p{ 
  margin-bottom: 8px;
}

iframe{
  width: 38%;
  height: 250px;
  min-width: 350px;
}


