
body{
  background-color:rgb(10, 26, 39);
  color:rgb(235, 235, 235);
  font-family: 'Montserrat', sans-serif;
  margin:75px 15px 75px 15px;
}

p, h1 {
  margin: 0px;
}

p{
  color:rgb(184, 188, 202);
}

.debug-border * {
  border: 1px;
  border-style: solid;
}

.profile-image{
  width: 145px;
  border-radius: 100%;
  margin-right: 14.5px;
  animation: smoothfadein 1.25s;
  animation-timing-function: cubic-bezier(.28,.55,.39,1);
}

@media screen and (max-width: 600px) {
  .profile-image {
    margin-right: 0px;
  }
}

.profile-text{
  margin-top: 0px;
  margin-left: 14.5px;
}

.profile-text-1{
  animation: smoothfadein 1.25s;
  animation-timing-function: cubic-bezier(.28,.55,.39,1);
  animation-delay: 0.1s;
}

.profile-text-2{
  animation: smoothfadein 1.25s;
  animation-timing-function: cubic-bezier(.28,.55,.39,1);
  animation-delay: 0.18s;
}

.profile-text-3{
  animation: smoothfadein 1.25s;
  animation-timing-function: cubic-bezier(.28,.55,.39,1);
  animation-delay: 0.25s;
}

@media screen and (max-width: 600px) {
  .profile-text {
    margin-top: 25px;
    margin-left: 0px;
  }
}

.div-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .div-container {
    flex-direction: column;
  }
}

/**Animation**/
@keyframes smoothfadein{
  from{transform:translate(0px,20px);opacity: 0;}
  to{transform:translate(0px,0px);opacity:1;}
}
